$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "../bower_components/bootstrap-sass/lib/responsive";


body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

textarea {
  width: 100%;
  min-height: 480px;
  height: 100%;
}

@mixin user-select($select) {
  -webkit-user-select: $select;
   -khtml-user-select: $select;
     -moz-user-select: $select;
          user-select: $select;
}

.pager {
  @include user-select(none);
}
